

@font-face {
    font-family: 'Agrandir';
    src:url('../fonts/Agrandir-GrandHeavy.woff2') format('woff2'),
        url('../fonts/Agrandir-GrandHeavy.otf') format('otf'),
        url('../fonts/Agrandir-GrandHeavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Agrandir';
    src:url('../fonts/Agrandir-Narrow.woff2') format('woff2'),
        url('../fonts/Agrandir-Narrow.otf') format('otf'),
        url('../fonts/Agrandir-Narrow.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Agrandir-Regular';
    src:url('../fonts/Agrandir-Regular.woff2') format('woff2'),
        url('../fonts/Agrandir-Regular.otf') format('otf'),
        url('../fonts/Agrandir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face { 
    font-family: 'Agrandir';
    src:url('../fonts/Agrandir-TextBold.woff2') format('woff2'),
        url('../fonts/Agrandir-TextBold.otf') format('otf'),
        url('../fonts/Agrandir-TextBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Agrandir';
    src:url('../fonts/Agrandir-Widelight.woff2') format('woff2'),
        url('../fonts/Agrandir-Widelight.otf') format('otf'),
        url('../fonts/Agrandir-Widelight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Biennale';
    src:url('../fonts/Biennale-Bold.woff2') format('woff2'),
        url('../fonts/Biennale-Bold.otf') format('otf'),
        url('../fonts/Biennale-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Biennale';
    src:url('../fonts/Biennale-Regular.woff2') format('woff2'),
        url('../fonts/Biennale-Regular.otf') format('otf'),
        url('../fonts/Biennale-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src:url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.otf') format('otf'),
        url('../fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src:url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.otf') format('otf'),
        url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src:url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.otf') format('otf'),
        url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src:url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.otf') format('otf'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src:url('../fonts/Lato-SemiBold.woff2') format('woff2'),
        url('../fonts/Lato-SemiBold.otf') format('otf'),
        url('../fonts/Lato-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}